
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="about text-align:center; ">
<h1 >About Me</h1>
    </div>
    <div class="upper">
        <div class="image"> 
            <i class="fa-solid fa-code  round" id="round1"></i>
            <i class="fa-brands fa-angular fa-2xl round" id="round3" ></i>
            <img  class="imag" [src]=imagepath alt="not working">
            <i class="fa-brands fa-java fa-2xl round " id="round2"></i>
            
        </div>
       <div class="content-about">
        <h1 class="heading">Developing Is My Fashion</h1>
        <p class="paragraph">
            Aspiring software developer with a strong foundation in front-end and full-stack technologies, seeking an entry-level
            opportunity to apply my technical skills, contribute to real-world projects, and grow within a dynamic IT environment.
            Eager to learn, adapt, and add value to a forward-thinking team.</p>
            <p><span class="span">SKILLS : </span> Html | Css | JavaScript | Angular | Python | Java | SpringBoot | MySql</p>
            <p><span class="span">Tools : </span> PyCharm | VS Code | IntellJ | GitHub | ChatGPT </p>
           <div class="but">
                <a [href]="pdf" download="Thahir_cv.pdf"><button class="hire" >Download CV</button></a>
                
            <!-- <button  class="btn" (click)="openDisplay()">Skills</button> -->
           </div>
            
       </div>
    </div>
    
            
        
    <section>

    </section>
</body>
</html>