<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="certi text-align:center; ">
        <h1>Certificates</h1>
    </div>
    <div class="certificate">
        <div class="certi1">
            <img class="images" [src]=responsible  alt="">
             </div>
        <div class="certi1">
            <img class="images" [src]=javascript  alt="">
            </div>
        <div class="certi1">
            <img class="images" [src]=python alt="">
             </div>
        <div class="certi1">
            <img class="images" [src]=java alt="">
            </div>
    </div>
</body>
</html>
