.project h1{
    
    position: relative;
 
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project h1::after,.project h1::before{
  content: '';
  position: absolute;
  height: 2.5px;
  width: 8%;
  background-color:  #4070f4;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
}
.project h1::after{
    bottom: -7px;
    width: 10%;
  
  left: 50%;
  transform: translateX(-50%);
}
.mainproject{
    display: grid;
    grid-template-columns: auto auto auto;
    
   margin:0% 5%;
 
}

p{
   text-align: justify;    
}
.project1{
    width: auto;
    border-radius: 2%;
  font-family: 'Ubuntu', sans-serif;

     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
     
    margin:0% 2%;
    padding: 4%;
    margin: 10%;
    text-align: center;
    transition: all 0.4s ease;
}
.project1:hover{
    background-color: #4070f4;
    color: #fff;
}
.project1:hover i{
    background-color: #fff;
    color: #4070f4;
}
.project1 i{
   height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
h5{
    padding: 5px;
    margin: 5px;
    border: 2px solid #4070f4 ;
    color: #4070f4;
    background-color:#dce5fe;
    border-radius: 1rem;
    transition: all 0.4s ease;
    
    
    

}
.mainproject{
    margin-bottom: 40px;
}
.project1:hover .skill h5 {
 
  background-color: #fff;
   /* border changes when project1 is hovered */
}
.skill{
    display: flex;
    width: 100%;
   flex-wrap: wrap;
}
@media (max-width:500px) {
    .mainproject{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin: 5%;
    padding-bottom: 20%;
 
}
    
}

/*  */